@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

html
  font-size: 62.5%

  // блокировка скролла
  &.css-scroll-fixed:not(.open-only-mob)
    +scroll-blocked

  &.css-scroll-fixed.open-only-mob
    +media('<tab-lg')
      +scroll-blocked

body
  position: relative
  +font-normal
  +font($font-size, $line-height)
  color: $text-color
  min-width: $layout-min-width
  background-color: $bg-color
  background-position: center top
  background-repeat: no-repeat

  &.home-page
    background-image: url(../../img/bg-index-section-01.jpg)

  &.has-alt-bg
    background-image: url(../../img/bg-page.jpg)

  // выделение текста
  *::selection
    background-color: $base-color
    color: white

.bg-container-bottom
  padding-top: 8rem
  padding-bottom: 4.4rem
  background-color: $bg-color
  background-image: url(../../img/bg-index-section-02.jpg)
  background-position: center bottom
  background-repeat: no-repeat

.layout-spaces
  @if nth($page-layout-space, 2) != 0
    +padding-horizontal(nth($page-layout-space, 2))

.layout-max
  max-width: $layout-max-width
  +push-auto

  @if nth($page-layout-space, 2) != 0
    &.layout-spaces
        max-width: #{$layout-max-width + nth($page-layout-space, 2) * 2}

.layout-text
  max-width: $text-layout-width
  +push-auto

  @if nth($page-layout-space, 2) != 0
    &.layout-spaces
      max-width: #{$text-layout-width + nth($page-layout-space, 2) * 2}

.layout-flood,
.layout-section
  max-width: $section-layout-width
  +push-auto

  @if nth($page-layout-space, 2) != 0
    &.layout-spaces
      max-width: #{$section-layout-width + nth($page-layout-space, 2) * 2}

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: stretch
  margin: 0 auto
  min-height: 100vh
  position: relative