@import ../utils/functions
@import ../utils/placeholders

// ==========================================================================
// Variables
// ==========================================================================

// Medium query
$breakpoints: ('desk-qhd': 2560px, 'desk-hd': 1920px, 'desk-lg': 1600px, 'desk-ml': 1440px, 'desk-md': 1366px, 'desk-sm': 1200px, 'tab-lg': 992px, 'tab-sm': 768px, 'mob-lg': 640px, 'mob-md': 480px, 'mob-sm': 320px)

// Fonts style
// ==========================================================================
$font-norm: 'proximanova-regular', Helvetica, Arial, sans-serif !default
$font-black: 'proximanova-black', Helvetica, Arial, sans-serif !default
$font-bold: 'proximanova-bold', Helvetica, Arial, sans-serif !default
$font-bold-italic: 'proximanova-bold-italic', Helvetica, Arial, sans-serif !default
$font-italic: 'proximanova-italic', Helvetica, Arial, sans-serif !default
$font-alt: Georgia, serif !default

// Reset font-weight and font-style
// Use for font-face
=font-reset()
  font:
    weight: normal
    style: normal

// Main font
=font-normal()
  font-family: $font-norm

=font-black()
  font-family: $font-black
  font-weight: normal

=font-bold()
  font-family: $font-bold
  font-weight: normal

=font-bold-italic()
  font-family: $font-bold-italic
  font-weight: normal
  font-style: normal

=font-italic()
  font-family: $font-italic
  font-style: italic

// Alternative font
=font-alt()
  font-family: $font-alt

=font-alt-bold()
  font-family: $font-alt
  font-weight: bold

=font-alt-bold-italic()
  font-family: $font-alt
  font-weight: bold
  font-style: italic

// Base
// ==========================================================================

$font-size: 1.8rem !default
$line-height: round-float(2.4rem/$font-size, 2) !default
// ----------------------------------------------------
$font-size--small: 1.4rem !default
$line-height--small: round-float(2.4rem/$font-size--small, 2) !default
// ----------------------------------------------------
$font-size--smallest: 1.2rem !default
$line-height--smallest: round-float(2.0rem/$font-size--smallest, 2) !default
// ----------------------------------------------------
$letter-spacing: normal !default

// Heading h1
$font-size-h1: 5.5rem !default
$line-height-h1: round-float(5.5rem/$font-size-h1, 2) !default
// ----------------------------------------------------
$font-size-h1--md: 3.6rem !default
$line-height-h1--md: round-float(4.8rem/$font-size-h1--md, 2) !default
// ----------------------------------------------------
$font-size-h1--sm: 3.0rem !default
$line-height-h1--sm: round-float(4.2rem/$font-size-h1--sm, 2) !default
// ----------------------------------------------------
=font-h1()
  font-size: $font-size-h1
  line-height: $line-height-h1

  +media('<tab-lg')
    font-size: $font-size-h1--md
    line-height: $line-height-h1--md

  +media('<mob-lg')
    font-size: $font-size-h1--sm
    line-height: $line-height-h1--sm

// Heading h2
$font-size-h2: 3.6rem !default
$line-height-h2: round-float(4.8rem/3.6rem, 2) !default
// ----------------------------------------------------
$font-size-h2--md: round-float($font-size-h1--md*0.84, 1) !default
$line-height-h2--md: round-float(($line-height-h1--md*1.02), 2) !default
// ----------------------------------------------------
$font-size-h2--sm: round-float($font-size-h1--sm*0.87, 1) !default
$line-height-h2--sm: round-float(($line-height-h1--sm*1.01), 2) !default
// ----------------------------------------------------
=font-h2()
  font-size: $font-size-h2
  line-height: $line-height-h2

  +media('<tab-lg')
    font-size: $font-size-h2--md
    line-height: $line-height-h2--md

  +media('<mob-lg')
    font-size: $font-size-h2--sm
    line-height: $line-height-h2--sm

// Heading h3
$font-size-h3: 2.4rem !default
$line-height-h3: round-float(3.6rem/2.4rem, 2) !default
// ----------------------------------------------------
$font-size-h3--sm: round-float($font-size-h1--sm*0.73, 1) !default
$line-height-h3--sm: round-float(($line-height-h1--sm*1.05), 2) !default
// ----------------------------------------------------
=font-h3()
  font-size: $font-size-h3
  line-height: $line-height-h3

  +media('<mob-lg')
    font-size: $font-size-h3--sm
    line-height: $line-height-h3--sm

// Heading h4
$font-size-h4: 1.8rem !default
$line-height-h4: round-float(3.0rem/1.8rem, 2) !default

// Heading h5
$font-size-h5: $font-size !default
$line-height-h5: $line-height !default

// Heading h6
$font-size-h6: round-float($font-size*0.75, 1) !default
$line-height-h6: round-float($line-height*1.25, 2) !default

// Spaces
$bottom-space: round-float($font-size*$line-height, 1) !default
$bottom-space--large: round-float($font-size*$line-height*3, 1) !default
$bottom-space--medium: round-float($font-size*$line-height*2.0, 1) !default
$bottom-space--middle: round-float($font-size*$line-height*1.5, 1) !default
$bottom-space--small: round-float($font-size*$line-height*0.75, 1) !default


// Animation
// ==========================================================================
$animation-speed: 0.2s !default
$animation-speed-mouseleave: 0.35s !default


// Colors
// ==========================================================================

// Color of brands
$base-color: #6228f2 !default
$base-color-alt: #3c31ab !default
$base-color-dark: #242473 !default
// ----------------------------------------------------
$bg-color: #fff !default
$bg-color-alt: #5740cb !default
// ----------------------------------------------------
$text-color: #1e202b !default
$text-color-light: #858697 !default
$title-color: #000 !default
// ----------------------------------------------------
$link-color: #1a2c5c !default
$link-underline-color: #b7bdcc !default
// ----------------------------------------------------
$border-color: lightgray !default
// ----------------------------------------------------
$mark-color: tomato !default
// ----------------------------------------------------
$highlight-color: #28e4cc !default
$highlight-color--hover: #ab52ff !default


// Class of typography styles
// ==========================================================================
// @example Sass - Использование
// .#{$user-content}
//
// @example css - Вывод CSS
// .user-content
$user-content: user-content !default


// Z-indexes
// ==========================================================================
$z-high: 40 !default
$z-middle: 30 !default
$z-low: 20 !default
$z-up: 5 !default
$z-max: 9999 !default


// Layout
// ==========================================================================

// минимальная ширина сайта
$page-layout-min: 32rem !default
// отступы для всего сайта
$page-layout-space: 2rem 5rem !default
// максимальная ширина сайта
$page-layout-width: 192rem !default
// максимальная ширина секции
$section-layout-width: 140rem !default
=wide()
  max-width: $section-layout-width
  margin-left: auto
  margin-right: auto

  +media('<mob-lg')
    max-width: none

// минимальные отступы у текствого блока
$text-layout-space: 5rem 6rem !default
$text-layout-space--md: 2.5rem 3rem !default
$text-layout-space--sm: 1.3rem 1.5rem !default
$text-layout-space--mob: 0.8rem 10rem !default
// максимальная ширина текстового блока
$text-layout-width: 80rem !default
// отступы внутри блочных элементов
$grid-space: 2.8rem 3rem !default
$grid-space--sm: 1.8rem 3rem !default
$grid-space--mob: 0.8rem 10rem !default


// Header
// ==========================================================================
$header-height: 11.2rem !default
$header-height--sm: 8rem !default


// Sidebar
// ==========================================================================
$sidebar-width: 26rem !default


// Aside
// ==========================================================================
$aside-width: 16rem !default


// Footer
// ==========================================================================
$footer-grid-space: 3rem 0 !default
// v h


// Buttons
// ==========================================================================

$btn-height: 50px !default
$btn-text-color: white !default
$btn-bg-color: #ff2e82 !default
$btn-alt-text-color: white
$btn-alt-bg-color: $highlight-color
$btn-bg-hover-color: $highlight-color--hover !default
$btn-disabled-color: #ccc !default


// Forms
// ==========================================================================

// Media Query for Forms
$form-media--mob: '<mob-lg'

// List of inputs
$inputs-list: 'input[type="text"]', 'input[type="password"]', 'input[type="email"]', 'input[type="search"]', 'textarea'
$small-field: 'small-field'

// Colors of forms
$form-text-color: #1d1e20 !default
//$form-placeholder-color: $border-color !default
$form-placeholder-color: #40455d !default
$form-bg-color: #eef2ff !default
$form-border-color: $form-bg-color !default
// validation
$form-error-color: $mark-color !default
$form-success-color: $highlight-color !default
$form-has-value-color: greenyellow !default
// disabled
$form-text-color--disabled: #6a6a6a !default
$form-bg-color--disabled: #535386 !default
$form-border-color--disabled: #535386 !default
// focus
$form-border-color--focus: #4949a7 !default

// Fonts of forms
$form-font-size: 18px !default
$form-line-height: 20px !default
$form-input-height: 55px !default
$form-letter-spacing: null !default
//----------------------------------
$form-font-size--small: 18px !default
$form-line-height--small: 20px !default
$form-input-height--small: 44px !default
$form-letter-spacing--small: null !default
//----------------------------------
$form-font-size--mob: 16px !default
$form-line-height--mob: 20px !default
$form-input-height--mob: 40px !default
$form-letter-spacing--mob: null !default

// Font of Labels
$form-label-font-size: 16px !default
$form-label-line-height: 24px !default
$form-label-font-size--small: 14px !default
$form-label-line-height--small: 20px !default
$form-label-font-size--mob: 12px !default
$form-label-line-height--mob: 16px !default

// Space of Labels
$form-label-vsb: 0.8rem // vertical space bottom
$form-label-vsb--small: 0.4rem // vertical space bottom
$form-label-vsb--mob: 0.6rem // vertical space bottom

// @example Sass - Использование
// @example css - Вывод CSS
// Inputs Font
=inputs-font()
  +font-normal
  font-size: $form-font-size
  line-height: $form-line-height
  color: $form-text-color
  //color: inherit
  @if $form-letter-spacing
    letter-spacing: $form-letter-spacing

=inputs-font--small()
  font-size: $form-font-size--small
  line-height: $form-line-height--small
  @if $form-letter-spacing--small
    letter-spacing: $form-letter-spacing--small

=inputs-font--mob()
  font-size: $form-font-size--mob
  line-height: $form-line-height--mob
  @if $form-letter-spacing--mob
    letter-spacing: $form-letter-spacing--mob

// Selects Font
=selects-font()
  +inputs-font

=selects-font--small()
  +inputs-font--small

=selects-font--mob()
  +inputs-font--mob

// Layout of forms
$form-border-width: 2px !default
$form-input-space-vt: floor(($form-input-height - $form-line-height - $form-border-width * 2) / 2) !default // верхний паддинг округляем в нижнюю сторону
$form-input-space-vb: ceil(($form-input-height - $form-line-height - $form-border-width * 2) / 2) !default // нижний паддинг округляем в верхнюю сторону
$form-input-space-h: 28px !default
$form-bottom-space: 2.5rem !default
$form-gap: 4rem !default
//--------------------------------
$form-border-width--small: 2px !default
$form-input-space-vt--small: floor(($form-input-height--small - $form-line-height--small - $form-border-width--small * 2) / 2) !default // верхний паддинг округляем в нижнюю сторону
$form-input-space-vb--small: ceil(($form-input-height--small - $form-line-height--small - $form-border-width--small * 2) / 2) !default // нижний паддинг округляем в верхнюю сторону
$form-input-space-h--small: 20px !default
$form-bottom-space--small: 2.5rem !default
$form-gap--small: 3rem !default
//---------------------------------
$form-border-width--mob: 2px !default
$form-input-space-vt--mob: floor(($form-input-height--mob - $form-line-height--mob - $form-border-width--mob * 2) / 2) !default // верхний паддинг округляем в нижнюю сторону
$form-input-space-vb--mob: ceil(($form-input-height--mob - $form-line-height--mob - $form-border-width--mob * 2) / 2) !default // нижний паддинг округляем в верхнюю сторону
$form-input-space-h--mob: 18px !default
$form-bottom-space--mob: 1.5rem !default
$form-gap--mob: 2rem !default

// Vertical spaces
=forms-space()
  margin: 0 0 $form-bottom-space

  +media($form-media--mob)
    margin: 0 0 $form-bottom-space--mob

=forms-space--small()
  margin: 0 0 $form-bottom-space--small

  +media($form-media--mob)
    margin: 0 0 $form-bottom-space--mob

// Checkboxes
// Radio Buttons
$checkbox-color: $highlight-color !default

// Select
$select-arrow-width: 56px !default
$select-arrow-width--small: 56px !default
$select-arrow-width--mob: 40px !default
$select-arrow-height: 100% !default
$select-arrow-height--small: 100% !default
$select-arrow-height--mob: 100% !default
$multiple-item-space: 3px !default

// Style Selection
=selectSelection()
  height: $form-input-height
  width: 100%
  padding: $form-input-space-vt $select-arrow-width $form-input-space-vb $form-input-space-h
  background: $form-bg-color
  @if $form-border-width
    border: $form-border-width solid $form-border-color
  border-radius: round($form-input-height / 2)
  box-shadow: none
  text-indent: 0
  outline: none
  // transition
  $prop: border-color, color, background-color
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out
  user-select: none
  -webkit-tap-highlight-color: transparent

=selectSelection--small()
  height: $form-input-height--small
  padding: $form-input-space-vt--small $select-arrow-width--small $form-input-space-vb--small $form-input-space-h--small
  border-radius: round($form-input-height--small / 2)
  @if $form-border-width--small
    border-width: $form-border-width--small

=selectSelection--mob()
  height: $form-input-height--mob
  padding: $form-input-space-vt--mob $select-arrow-width--mob $form-input-space-vb--mob $form-input-space-h--mob
  border-radius: round($form-input-height--mob / 2)
  @if $form-border-width--mob
    border-width: $form-border-width--mob

// Select arrow
=selectArrow()
  &::before, &::after
    content: ''
    position: absolute
    right: 27px
    top: 50%
    width: 6px
    height: 2px
    //background-color: $form-text-color
    background-color: currentColor
    margin-top: -1px
    z-index: 1

    +media($form-media--mob)
      right: 18px

  //.input-holder.error &, .input-holder.success &
      display: none

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)
    right: 23px

    +media($form-media--mob)
      right: 15px

// States
=form-success()
  //color: $form-success-color
  //border-color: $form-success-color

=form-error()
  //color: $form-error-color
  border-color: $form-error-color

=form-has-value()
  color: $form-has-value-color
  border-color: $form-has-value-color

=form-on-focus()
  //color: $form-border-focus-color
  border-color: $form-border-color--focus

// No custom list
// ==========================================================================
$no-custom-list-parent: null !default // parent elements of a list
$no-custom-list: ':not(.reset-list):not(.no-custom):not(.breadcrumbs__list):not(.slick-dots)'