@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.input-wrap
  position: relative
  line-height: 1
  +inputs-spaces

  +media($form-media--mob)
    +inputs-spaces--mob

label
  &.input-wrap
    display: block

.input-def
  display: block
  height: $form-input-height
  +inputs-common-styles
  +inputs-font-styles
  // transition
  $prop: color, border-color, background-color
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  // Для мобильных
  +media($form-media--mob)
    height: $form-input-height--mob
    +inputs-common-styles--mob
    +inputs-font-style--mob

// Для textarea тоже использовать класс input-def
textarea.input-def
  $lines: 5
  $height: round($form-line-height * $lines) + $form-input-space-vt + $form-input-space-vb + round($form-border-width * 2)
  min-height: $height
  height: $height
  resize: vertical

  // Для мобильных
  +media($form-media--mob)
    $height: round($form-line-height--mob * $lines) + $form-input-space-vt--mob + $form-input-space-vb--mob + round($form-border-width--mob * 2)
    min-height: $height
    height: $height

  &[disabled]
    resize: none

// Placeholder
.input-def
  +placeholder
    color: $form-placeholder-color
    transition: $animation-speed opacity

  //form placeholder hide on focus
  +placeholder-focus
    opacity: 0

// Стили для разных состояний полей
.input-def
  &[disabled]
    cursor: default
    color: $form-text-color--disabled
    background-color: $form-bg-color--disabled
    border-color: $form-border-color--disabled

    +placeholder
      color: $form-text-color--disabled

  &:not([disabled])
    // Hover
    &:hover
      border-color: $form-border-color_focused

    // Focus
    &:focus
      +form-on-focus

  // Success
  &.success:not([disabled])
    +form-success

  &.error:not([disabled])
    +form-error

@import checkboxes
@import select2
@import validation