@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.error-note, .success-note
  $valid-note-height: 16px
  float: left
  position: relative
  height: $valid-note-height
  width: 100%
  +padding-horizontal(2.1rem)
  margin-top: -#{$form-bottom-space}
  @if $form-border-width
    +margin-horizontal($form-border-width)
  +font-normal
  font-size: 14px
  line-height: $valid-note-height
  text-align: right
  pointer-events: none
  // Важно!
  +truncate(98%)
  // hide before validation
  display: none

  // Для планшетов
  +media($form-media--tab)
    +padding-horizontal(2.0rem)
    margin-top: -#{$form-bottom-space--tab}
    @if $form-border-width--tab
      +margin-horizontal($form-border-width--tab)
    font-size: 12px

  // Для мобильных
  +media($form-media--mob)
    +padding-horizontal(1.8rem)
    margin-top: -#{$form-bottom-space--mob}
    @if $form-border-width--mob
      +margin-horizontal($form-border-width--mob)
    font-size: 12px

  .input-wrap &, .select &
    float: none
    position: absolute
    bottom: 100%
    right: 0
    width: auto
    //max-width: 50%
    padding-left: 0
    margin-top: auto
    margin-bottom: 2px

    // Для планшетов
    +media($form-media--tab)
      margin-bottom: 6px

    // Для мобильных
    +media($form-media--mob)
      margin-bottom: 6px

.error-note
  color: $form-error-color

  // нужно выбрать только ближайший элемент ошибки формы (нельзя использовать ~)
  form .error + &, form .error + .select2 + &
    display: block

.success-note
  color: $form-success-color

  // нужно выбрать тольк ближайший элемент подтверждения формы ((нельзя использовать ~))
  //form .success + .error-note + &, form .success + .select2 + .error-note + &
    display: block

.input-wrap
  $this-icon-lines-width: 13px
  $this-icon-lines-width-long: 13px
  $this-icon-lines-width-short: 8px
  //$this-icon-lines-width: 9px
  //$this-icon-lines-width-long: 11px
  //$this-icon-lines-width-short: 7px
  $this-icon-lines-height: 1px

  &::before, &::after
    content: ""
    display: block
    position: absolute
    right: 22px
    top: round($form-input-height / 2 - 1)
    height: $this-icon-lines-height
    width: 30px
    max-width: $this-icon-lines-width
    z-index: 5
    opacity: 0
    pointer-events: none
    // transition
    $prop: transform, background-color, opacity, max-width
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed

    // Для планшетов
    +media($form-media--tab)
      right: 19px
      top: round($form-input-height--tab / 2)

    // Для мобильных
    +media($form-media--mob)
      right: 19px
      top: round($form-input-height--mob / 2 - 1)

  &::before
    $rotate: 45deg
    $translate: -20px, 0
    transform: rotate($rotate) translate($translate)
    transform: rotate($rotate) translate3d($translate, 0)

  &::after
    $rotate: -45deg
    $translate: 34px, 0
    transform: rotate($rotate) translate($translate)
    transform: rotate($rotate) translate3d($translate, 0)

  &.success, &.error
    &::before, &::after
      opacity: 1

  &.success
    &::before, &::after
      top: 32px
      background-color: $form-success-color

      // Для планшетов
      +media($form-media--tab)
        top: 30px

      // Для мобильных
      +media($form-media--mob)
        top: 28px

    &::before
      $rotate: 45deg
      $translate: -6px, 0
      transform: rotate($rotate) translate($translate)
      transform: rotate($rotate) translate3d($translate, 0)
      max-width: $this-icon-lines-width-short

    &::after
      $rotate: -45deg
      $translate: 8px, 0
      transform: rotate($rotate) translate($translate)
      transform: rotate($rotate) translate3d($translate, 0)
      max-width: $this-icon-lines-width-long

  &.error
    &::before, &::after
      background-color: $form-error-color

    &::before
      $rotate: 45deg
      $translate: 0, 0
      transform: rotate($rotate) translate($translate)
      transform: rotate($rotate) translate3d($translate, 0)

    &::after
      $rotate: -45deg
      $translate: 0, 0
      transform: rotate($rotate) translate($translate)
      transform: rotate($rotate) translate3d($translate, 0)

  &.has-select
    &::before, &::after
      content: none