@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* === helper classes ==
.mark
  color: $mark-color
  font-style: inherit
  font-weight: inherit

.text-color-alt
  color: $base-color

.align-center
  text-align: center

.align-left
  text-align: left

.align-right
  text-align: right

.float-left
  float: left

.float-right
  float: right

.nobr
  white-space: nowrap

.hide-text
  +hide-text

.hide
  display: none !important

.desktop-only
  +media('<tab-lg')
    display: none

.devices-only
  +media('>=tab-lg')
    display: none

.mobile-only
  +media('>=mob-lg')
    display: none

/* btn-app
.btn-app
  display: inline-block
  vertical-align: top
  background-color: black
  background-repeat: no-repeat
  height: 6.2rem
  padding: 1rem 5rem 1rem 8rem
  font-size: 1.8rem
  line-height: 2.2rem
  text-align: left
  text-decoration: none
  color: white
  border-radius: 3.1rem
  user-select: none
  -webkit-tap-highlight-color: transparent
  // transition
  $prop: background-color
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  &:hover
    background-color: $highlight-color--hover

.btn-app_google
  background-image: url(../../img/app-a.png)
  background-position: 2.8rem center
  background-size: 29px auto

.btn-app_apple
  background-image: url(../../img/app-ios.png)
  background-position: 28px center
  background-size: 24px auto

/* btn-app end

/* show elements on scroll
html:not(.no-js)
  .show-figure-js
    visibility: hidden

/* show elements on scroll end

/* social share
.soc-share-box
  position: sticky
  top: 10px
  pointer-events: none
  z-index: 5

  margin-top: calc(-#{$heading-bottom} - 2.9rem)
  padding-bottom: $heading-bottom

.soc-share
  pointer-events: auto

/* social share end

/* chats
.chats
  overflow: hidden
  display: flex
  align-items: flex-start
  justify-content: flex-start
  cursor: default

  +media('<mob-lg')
    justify-content: center

  &:last-child
    margin-bottom: 0

.chats__group
  margin-left: 4rem

  +media('<desk-lg')
    margin-left: 1.5rem

  +media('<tab-lg')
    margin-left: 1rem

  &:first-child
    margin-left: 0

  & > strong
    display: block
    margin-bottom: 0.7rem
    +font-thin
    font-size: 1.4rem
    line-height: 1.8rem

.chats__list
  position: relative
  display: inline-block
  vertical-align: top
  margin: 0 -15px -15px 0

  +media('<tab-lg')
    margin: 0 -10px -10px 0

.chats__item
  float: left
  margin: 0 15px 15px 0

  a
    display: block
    position: relative
    font-size: 60px
    +size(1em)
    color: inherit

    +media('<tab-lg')
      font-size: 40px

    &::before, &::after
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      +size(100%)
      background-image: url("../../img/soc-sprite.svg")
      background-repeat: no-repeat
      background-size: 12em auto // размер файла спрайта, т.е. в спрайте 12 иконок размещенных по диагонали, 1em - 1 иконка

    &::after
      opacity: 0

    // hover
    &:hover
      &::before
        opacity: 0

      &::after
        opacity: 1

    $soc-list: 'facebook', 'telegram', 'viber'
    $type-length: 4 // количество цветов одной иконки в спрайте, или через сколько единиц размещается иконка другогой социалки

    @for $i from 1 through length($soc-list)
      $pos: $type-length - $type-length * $i * 1em // на сколко единиц нужно сместить background

      //@debug $pos

      &.#{nth($soc-list, $i)}
        &::before // иконка с цветом в нормальном состоянии (фон без смещения - в спрайте такие иконки идут первыми: 1, 5, 9 и т.д.)
          $p: $pos
          background-position: $p $p

        &::after // икона с цветом при наведении (фон семстить на -1em - в спрайте такие иконки идут вторыми: 2, 6, 10 и т.д.)
          $p: $pos - 1
          background-position: $p $p

        .user-form__msg__soc &
          &::before // иконка с другим цветом в нормальном состоянии (фон семстить на -2em - в спрайте такие иконки идут вторыми: 3, 7, 11 и т.д.)
            $p: $pos - 2
            background-position: $p $p

          &::after // иконка с другим цветом при наведении (фон семстить на -3em - в спрайте такие иконки идут вторыми: 4, 8, 12 и т.д.)
            $p: $pos - 3
            background-position: $p $p

    span // Скрыть текст, но оставить видимым для озвучивающих программ
      +hide-text

/* chats end

/* === HEADER ===
.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  min-width: $layout-min-width
  height: $header-height
  z-index: $z-high

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: white
    opacity: 0
    // transition
    $prop: opacity
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    .page-scrolled &
      opacity: 1

// Добавлять класс, если не нужно фиксить шапку
.header_float
  position: relative
  left: auto
  top: auto

.header-frame
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%

/* logo
.logo
  float: left
  display: block
  position: relative
  background-image: url(../../img/logo.png)
  background-repeat: no-repeat
  background-size: contain
  width: 187px
  margin-bottom: 1.9rem
  color: #cccddb

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url(../../img/logo-2x.png)

  +media('<desk-lg')
    background-image: url(../../img/logo-sm-2x.png)
    width: 165px
    margin-top: -13px

  +media('<tab-lg')
    width: 93px
    margin-top: 0
    color: #a7a7ce

  &::before
    content: ""
    display: block
    +ratio(187, 39)

  a, & > span
    display: block
    overflow: hidden
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    text-indent: -9999px

/* logo end

/* navigation
.nav-wrap
  margin: 0.1rem 10rem 0 0

.nav
  position: relative

.nav__list
  list-style: none
  margin: 0
  padding: 0
  +font-bold
  font-size: 1.8rem
  line-height: 2.4rem
  text-transform: uppercase
  letter-spacing: 0.01em
  cursor: default
  +clear

  li
    position: relative
    float: left
    margin-left: 5.7rem

  a
    color: #000
    text-decoration: none
    transition: color $animation-speed

    &:hover
      color: $highlight-color--hover

  // current
  li.current
    color: $text-color-light
    pointer-events: none

    a, & > span
      text-decoration: none
      color: inherit
      cursor: default

/* navigation end

/* alternative navigation
.alt-nav
  position: relative

.alt-nav__list
  list-style: none
  padding: 0
  margin: 0
  +font-bold
  font-size: 5.5rem
  line-height: 6.6rem
  letter-spacing: 0.01em
  cursor: default

  li
    margin-bottom: 4.1rem
    overflow: hidden

  a
    color: #000
    text-decoration: none
    transition: color $animation-speed
    padding-top: 0.5em

    &:hover
      color: $highlight-color--hover

  // current
  li.current
    color: $text-color-light
    pointer-events: none

    a, & > span
      text-decoration: none
      color: inherit
      cursor: default

/* alternative navigation end

/* === SHUTTER NAVIGATION ===
$switcher-nav-delay: 0.10s
$switcher-nav-dur: 0.2s
$toggle-nav-delay: $switcher-nav-delay + $switcher-nav-dur
$toggle-nav-dur: 0.2s
$toggle-nav-curtains-dur: 0.5s
$toggle-nav-item-dur: 0.4s
// =====================

/* shutter navigation switcher
a.shutter-nav-switcher
  $btn-nav-size: 60px
  $btn-nav-lines-width: 35px
  $btn-nav-lines-height: 5px
  $btn-nav-lines-color: currentColor
  // =====================

  position: absolute
  right: nth($page-layout-space, 2)
  top: 50%
  margin: -#{round-float($btn-nav-size / 2, 1) + 1} -1.2rem 0
  color: #000
  text-decoration: none
  width: $btn-nav-size
  height: $btn-nav-size
  // transition
  $prop: color
  will-change: $prop
  transition:
    property: $prop
    duration: $switcher-nav-dur
    timing-function: ease-in-out

  // убрать подсветку при клике на тачскринах
  .touchevents &
    user-select: none
    -webkit-tap-highlight-color: transparent

  // верх, середина, низ
  &::before, &::after, & > i
    display: block
    position: absolute
    left: 50%
    height: $btn-nav-lines-height
    background-color: $btn-nav-lines-color
    border-radius: $btn-nav-lines-height
    // transition
    $prop: transform, opacity
    will-change: $prop
    transition:
      property: $prop
      duration: $switcher-nav-dur
      timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95)

  // верх, низ
  &::before, &::after
    content: ""
    width: $btn-nav-lines-width + 5
    margin: 10px 0 11px -#{round($btn-nav-lines-width / 2) + 5}

  // верх
  &::before
    bottom: 50%
    transition-delay: 0s

  // середина
  & > i
    font-size: 0
    line-height: 0
    top: 50%
    width: $btn-nav-lines-width
    margin: -#{round($btn-nav-lines-height / 2)} 0 0 -#{round($btn-nav-lines-width / 2)}
    transition-delay: round-float($switcher-nav-delay / 2, 2)

  // низ
  &::after
    top: 50%
    transition-delay: $switcher-nav-delay

  // текст
  & > span
    +hide-text

  // hover
  &:hover
    color: $highlight-color--hover

  // opened
  &.shutter-nav_is-open
    &::before, &::after, & > i
      transform: translate(80px, 0) translateZ(0)
      opacity: 0

/* shutter navigation switcher end

/* shutter navigation close
.shutter-nav-close
  position: absolute
  width: 3.1rem
  height: 3.1rem
  top: 3.9rem
  right: nth($page-layout-space, 2) + 0.2
  font-size: 0
  line-height: 0
  opacity: 0
  $rotate: -20deg
  transform: rotate($rotate)
  transform: rotate($rotate) translateZ(0)
  // transition
  $prop: transform, opacity
  will-change: $prop
  transition:
    property: $prop
    // Кнопку закрытия скрывать с задержкой (сразу после закрытия меню), без анимацией
    duration: 0s
    delay: $toggle-nav-dur
    timing-function: ease-in-out

  &::before, &::after
    $nav-close-cross-size: 0.5rem 4.1rem
    content: ""
    display: block
    position: absolute
    left: 50%
    top: 50%
    height: nth($nav-close-cross-size, 1)
    width: nth($nav-close-cross-size, 2)
    margin: -#{round-float(nth($nav-close-cross-size, 1) / 2, 1)} 0 0 -#{round-float(nth($nav-close-cross-size, 2) / 2, 1)}
    border-radius: nth($nav-close-cross-size, 1)
    background-color: white
    // transition
    $prop: background-color
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

  &:hover
    &::before, &::after
      background-color: $highlight-color--hover

  .shutter-nav_is-open &
    opacity: 1
    $rotate: 0deg
    transform: rotate($rotate)
    transform: rotate($rotate) translateZ(0)
    transition:
      // Кнопку закрытия показывать с задержкой и анимацией
      duration: $toggle-nav-item-dur
      delay: $toggle-nav-delay + $toggle-nav-curtains-dur - 0.05s

/* shutter navigation close end

/* shutter navigation
.shutter-nav
  position: fixed
  right: 0
  top: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden
  pointer-events: none
  z-index: 9999
  // Общий блок меню скрывать без задержки, с анимацией
  transition:
    property: opacity, visibility
    duration: $toggle-nav-dur

  &::before, &::after
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    z-index: -1
    // transition
    $prop: opacity, visibility, transform
    will-change: $prop
    transition:
      property: $prop
      // Шторки меню скрывать с задержкой (сразу после закрытия меню), без анимацией
      duration: 0s
      delay: $toggle-nav-dur
      timing-function: cubic-bezier(0.4, 0.6, 0.2, 1)

  &::before
    background-color: white
    $translate: 0, 100%
    transform: translate($translate)
    transform: translate3d($translate, 0)

  &::after
    background-color: $base-color
    left: 50%
    $translate: 0, -100%
    transform: translate($translate)
    transform: translate3d($translate, 0)

  &.shutter-nav_is-open
    opacity: 1
    visibility: visible
    pointer-events: auto
    // Общий блок меню показывать без задержки и анимации
    transition:
      duration: 0s
      delay: 0s

    &::before, &::after
      $translate: 0, 0
      transform: translate($translate)
      transform: translate3d($translate, 0)
      // Шторки меню показывать с задержкой и анимацией
      transition:
        duration: $toggle-nav-curtains-dur
        delay: $toggle-nav-delay

.shutter-nav__layout
  display: flex
  align-items: flex-start
  width: 100%

.shutter-nav__content,
.shutter-nav__footer
  flex-grow: 1
  flex-basis: 50%
  max-width: 50%
  padding: 3rem 9rem
  opacity: 0
  will-change: transform, opacity
  transition:
    property: transform, opacity
    // Внутренние элементы скрывать с задержкой (сразу после закрытия меню), без анимацией
    duration: 0s
    delay: $toggle-nav-dur
    timing-function: ease-out

  .shutter-nav_is-open &
    opacity: 1
    $translate: 0, 0
    transform: translate($translate)
    transform: translate3d($translate, 0)
    transition:
      // Внутренние элементы показывать с задержкой и анимацией
      duration: $toggle-nav-item-dur
      delay: $toggle-nav-delay + $toggle-nav-curtains-dur - 0.05s

// Левая часть
.shutter-nav__content
  padding-left: 0
  $translate: 0, 4rem
  transform: translate($translate)
  transform: translate3d($translate, 0)

// Правая часть
.shutter-nav__footer
  padding-right: 0
  color: white
  $translate: 0, -4rem
  transform: translate($translate)
  transform: translate3d($translate, 0)

// title
.shutter-nav__title
  +font-extra-bold
  font-size: 5.5rem
  line-height: 6.6rem
  letter-spacing: 0.01em
  margin-bottom: 5.5rem

  &:last-child
    margin-bottom: 0

// alternative navigation
.shutter-nav__alt-nav
  margin: 0 0 15.5rem

  &:last-child
    margin-bottom: 0

// app
.shutter-nav__app
  margin-bottom: 2.5rem

.shutter-nav__app-item
  margin-bottom: 3.0rem

  &:last-child
    margin-bottom: 0

// conditions
.shutter-nav__conditions
  overflow: hidden
  width: 30rem
  max-width: 100%
  font-size: 1.8rem
  line-height: 2.2rem

  a
    color: #000
    padding-top: 0.5em
    text-decoration: none
    box-shadow: inset 0 -1px 0 #8f8f8f
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &:hover
      box-shadow: inset 0 -1px 0 $highlight-color--hover
      color: $highlight-color--hover

// contacts
.shutter-nav__contacts
  display: flex
  flex-wrap: wrap
  margin: 0 0 13.5rem
  padding: 0
  font-size: 2.4rem
  line-height: 3.2rem
  list-style: none

  &:last-child
    margin-bottom: 0

  li
    margin: 0 3rem 1.1rem 0

  a
    $box-shadow: inset 0 -1px 0
    color: inherit
    text-decoration: none
    box-shadow: #{$box-shadow} rgba(white, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &[href^="tel:"]
      box-shadow: none

    &:hover
      color: $highlight-color--hover
      box-shadow: #{$box-shadow} rgba($highlight-color--hover, 0.5)

      &[href^="tel:"]
        box-shadow: none

    & > strong
      +font-semi-bold
      font-size: 3.0rem

// callback-form
.n-callback-form
  margin-bottom: 7.1rem

  &:last-child
    margin-bottom: 0

  [class*="btn-"]
    box-shadow: 0 10px 10px rgba(81, 0, 33, 0.25)

    &:hover
      box-shadow: 0 5px 5px rgba($btn-bg-hover-color, 0.25)

.n-callback-form__title
  display: block
  +font-semi-bold
  font-size: 2.4rem
  line-height: 3.0rem
  margin-bottom: 3.1rem

$n-callback-form-item-space: 2rem 2rem
.n-callback-form__fields
  display: flex
  flex-wrap: wrap
  margin: 0 -#{round-float(nth($n-callback-form-item-space, 2) / 2, 1)}

  .input-wrap
    flex-grow: 1
    flex-basis: 50%
    max-width: 50%
    text-align: right
    margin: 0
    padding: 0 #{round-float(nth($n-callback-form-item-space, 2) / 2, 1)} nth($n-callback-form-item-space, 1)

  .input-def
    border-radius: 10px
    background-color: white
    border-right-color: white

// chats
.shutter-nav__chats
  .chats__group
    & > strong
      margin-bottom: 1.5rem

/* shutter navigation end

/* === CONTENT ===
.main
  flex-shrink: 1
  flex-grow: 1
  position: relative
  //padding-top: 17.6rem
  padding-top: $header-height
  clear: both
  z-index: 4

  .header_float ~ &
    //padding-top: 6.5rem
    padding-top: 0

/* === FOOTER ===
.footer
  position: relative
  font-size: 1.8rem
  line-height: 2.2rem
  color: white
  background-color: #6228f2
  z-index: 5

  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    +linear-gradient(to bottom, #5b2fc9 0%, #5352ce 100%)
    height: 19rem
    z-index: -1

  *::selection
    background-color: black

.footer-holder
  position: relative
  min-height: 59.2rem
  padding-top: 7.7rem
  padding-bottom: 12.9rem
  +clear

/* footer contacts
.footer__contacts
  float: right
  clear: right
  width: $footer-right-col-width
  display: flex
  flex-wrap: wrap
  margin: 0 0 1.6rem
  padding: 0 0 0 nth($footer-grid-space, 2)
  font-size: 2.4rem
  line-height: 3.2rem
  list-style: none

  li
    margin: 0 4.1rem 2rem 0

    &.adr, &.cond
      display: none

  a
    color: white
    text-decoration: none
    box-shadow: inset 0 -1px 0 rgba(white, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &[href^="tel:"]
      box-shadow: none

    & > strong
      +font-semi-bold
      font-size: 3.0rem

    &:hover
      color: $highlight-color--hover
      box-shadow: inset 0 -1px 0 rgba($highlight-color--hover, 0.5)

      &[href^="tel:"]
        box-shadow: none

/* footer contacts end

/* chats
.footer__chats
  position: absolute
  left: 0.2rem
  top: 42.4rem
  color: white

/* chats end

/* appeal form
.footer__callback-form
  float: right
  clear: right
  width: $footer-right-col-width
  margin-bottom: 5rem
  padding: 0 0 0 nth($footer-grid-space, 2)

.callback-form
  position: relative

  &:last-child
    margin-bottom: 0

  .input-def
    border-radius: 10px
    background-color: white

.callback-form__title
  +font-semi-bold
  display: block
  font-size: 2.4rem
  line-height: 3.2rem
  color: white
  margin-bottom: 3.1rem

.callback-form__fields
  $space-item: 3rem 2rem
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  margin: 0 -#{round-float(nth($space-item, 2) / 2, 1)} 2rem

  .input-wrap
    $space: #{round-float(nth($space-item, 2) / 2, 1)}
    $width: calc(33.33% - #{nth($space-item, 2)})
    flex-grow: 1
    flex-basis: 100%
    max-width: $width
    margin-left: $space
    margin-right: $space

// --> form footer <--
.callback-form__footer
  text-align: right

  [class*="btn-"]
    box-shadow: 0 10px 10px rgba(81, 0, 33, 0.25)

    &:hover
      box-shadow: 0 5px 5px rgba($btn-bg-hover-color, 0.25)

// --> send message <--
.callback-form__msg
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  padding: 3rem
  font-size: 2.4rem
  line-height: 3.2rem
  color: white
  text-align: center
  background-color: $base-color
  z-index: 2
  opacity: 0
  pointer-events: none
  // transition
  will-change: opacity
  transition: opacity $animation-speed ease-in-out

  .form-success &
    opacity: 1
    pointer-events: auto

.callback-form__msg-title
  display: block
  margin-bottom: 3rem

.callback-form__msg-title,
.callback-form__msg-subtitle
  max-width: calc(100% - 10rem)
  margin-left: auto
  margin-right: auto

/* appeal form end

/* footer conditions
.f-conditions
  position: absolute
  top: 29.9rem
  left: 0
  max-width: 30rem
  font-size: 1.8rem
  line-height: 2.2rem

  a
    padding-top: 0.5em
    text-decoration: none
    color: inherit
    box-shadow: inset 0 -1px 0 rgba(white, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &:hover
      color: $highlight-color--hover
      box-shadow: inset 0 -1px 0 rgba($highlight-color--hover, 0.5)


/* footer conditions end

/* footer app
.footer__app
  position: absolute
  left: 0
  top: 8.2rem
  width: $footer-left-col-width
  padding: 0 nth($footer-grid-space, 2) 0 0

.footer__app-label
  display: none

.footer__app-item
  display: block
  margin-bottom: 4rem

/* footer app end

/* developer
.developer
  position: absolute
  right: 0.1rem
  bottom: 9.1rem
  text-align: right
  font-size: 14px
  line-height: 15px

  a
    display: inline-block
    vertical-align: top
    color: white
    text-decoration: none
    // transition
    transition: color $animation-speed ease-in-out

    &:hover
      color: $highlight-color--hover

.developer__logo
  display: inline-block
  vertical-align: top
  margin-right: 0.5rem

  svg
    display: inline-block
    vertical-align: top
    +size(7.4rem, 1.6rem)

    path
      fill: currentColor

.developer__name
  display: inline-block
  vertical-align: top
  height: 15px
  margin-top: -1px

.developer-mob
  display: none

/* developer end

/* lacerta app
.icon-app
  $size: 6rem
  overflow: hidden
  position: fixed
  right: nth($page-layout-space, 2)
  top: 50%
  width: $size
  height: $size
  margin-top: -#{round-float($size / 2, 1)}
  color: white
  text-indent: -9999px
  //background-color: $highlight-color
  +linear-gradient(to bottom, $highlight-color 0, $highlight-color 50%, $btn-bg-hover-color 50%, $btn-bg-hover-color 100%)
  background-size: 100% 200%
  box-shadow: 0 3px 8px rgba(black, 0.11)
  border-radius: 50%
  z-index: $z-middle
  // transition
  $prop: background-position, color, box-shadow
  transition:
    property: $prop
    duration: 0.35s
    timing-function: cubic-bezier(0.4, 0, 0.2, 1)

  &::after
    content: ""
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAApCAYAAAArpDnNAAABl0lEQVRYhe2YvUocYRRAz4qQysK10XewsvENBM1OLNTSRhYMEn+qPIEEHyRp0ihivVU6fQorC7VwJWA0eyy8o8PqxJl1domwFz5m9s695zAwcL9vUYmVqC217dujHaxGyk8luxXA82I3FTUicaNuqXWf3rLXNR6sm2AnxCuqblcg6F5fg92qqVfAGDABXFJt1IEL4LqmGslaxZI0BBjpE/xZDEUDE00BK8Bsv0UzwE9gq9+inmMoer+iaWCuB95c9BYS1YEWcAgslJDMR08rGK+KLoE94AOwDyQFJAlwED17vDRuMiO3e2jtqJ2YkouR+xi1PzJ1i1HTiZ5uziM8T4S6mZEtvSBayki+5DAKiVA3AvRH/ZYRLUeuEzV5/YVFqJ8DeBe1v9TbyK2/0ltKhNrMyO7ivlmgr7QIdU39G6K1gj2q9rI5WeVhw/G9YL0Aw13Q/y8a/cezI2CyJO8MaJQVnQK/S4rO8x4Mv7o3idpx/2wqVhAp83oEOIkfq30QNeN6jA+ncR3AGRYHdCpP1yer/58hSfn3dhrE7TldDjMAAAAASUVORK5CYII=')
    background-repeat: no-repeat
    background-position: center

  .no-touchevents &:hover
    //background-color: $highlight-color--hover
    background-position: 0 100%
    box-shadow: 0 3px 8px rgba($btn-bg-hover-color, 0.25)

  &:active
    margin-top: -#{round-float($size / 2, 1) - 0.1}
    box-shadow: 0 1px 4px rgba($btn-bg-hover-color, 0.25)

/* lacerta app end

/* === MAIN ===
.bg-container-bottom
  background-color: white
  background-image: url(../../img/bg-index-section-02.jpg)
  background-position: center bottom
  background-repeat: no-repeat
  padding: 7.2rem 0 8.9rem

  section
    background-image: none

/* main-caption
.main-caption
  font-size: 2.4rem
  line-height: 2.9rem

.main-caption__holder
  position: relative
  padding: 10.6rem 0

.main-caption__figure
  position: absolute
  right: -3.2rem
  top: 0.6rem
  //background: url(../../img/main-caption-figure.png) no-repeat
  width: 758px
  z-index: -1

  img
    display: block
    max-width: 100%

.main-caption__title
  margin-bottom: 6rem
  width: 70rem
  max-width: 100%

  &:last-child
    margin-bottom: 0

.main-caption__entry
  color: $text-color-alt
  margin-bottom: 1.8rem
  width: 70rem
  max-width: 100%

  b, strong
    +font-bold

  i, em
    +font-bold-italic

.main-caption__text
  color: #1a1c26
  width: 70rem
  max-width: 100%

/* main-caption end

/* limitations
.limitations
  overflow: hidden

.limitations__holder
  padding: 4.3rem 0

.limitations__list
  margin: 0 -2rem
  +clear

.limitations__item
  position: relative
  width: 50%
  padding: 12.9rem 1rem 8.4rem 37.3rem
  cursor: default

  //&::before
    content: ""
    display: block
    position: absolute
    width: 6.1rem
    height: 6.1rem
    left: 36rem
    top: 4rem
    background-repeat: no-repeat
    background-image: url(../../img/limitation-sign.png)
    background-size: 100%
    opacity: 0
    // transition
    $prop: opacity
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    @media #{$retina}
      background-image: url(../../img/limitation-sign-2x.png)

.limitations__item-figure
  position: absolute
  left: 2rem
  top: 0
  display: flex
  align-items: center
  justify-content: center

  img
    display: block
    max-width: 100%
    max-height: 100%

.limitations__item-title
  +font-bold
  font-size: 3.0rem
  line-height: 1
  margin-bottom: 2.1rem

  &:last-child
    margin-bottom: 0

.limitations__item-entry
  font-size: 1.8rem
  line-height: 2.5rem
  color: $text-color-alt
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

// hover
//.limitations__item:hover
  &::before
    opacity: 1

// --> bank <--
.limitations__item_deposit
  float: left
  clear: both
  padding: 12.9rem 1rem 8.4rem 37.3rem

.limitations__item-figure_deposit
  //background-image: url(../../img/limitation-figure-01.png)
  //height: 259px
  width: 290px

// hover
//.limitations__item_deposit:hover
  .limitations__item-figure_deposit
    background-position: 0 -279px

// --> lend <--
.limitations__item_lend
  float: left
  clear: left
  padding: 14.6rem 1rem 8rem 37.3rem

.limitations__item-figure_lend
  //background-image: url(../../img/limitation-figure-02.png)
  //height: 328px
  width: 301px
  left: 1.9rem

// hover
//.limitations__item_lend:hover
  .limitations__item-figure_lend
    background-position: 0 -348px

// --> property <--
.limitations__item_property
  float: right
  clear: right
  margin-top: -15.1rem
  padding: 12.8rem 0 8rem 36.4rem

.limitations__item-figure_property
  //background-image: url(../../img/limitation-figure-03.png)
  //height: 316px
  width: 229px
  left: 6.8rem

// hover
//.limitations__item_property:hover
  .limitations__item-figure_property
    background-position: 0 -336px

/* limitations end

/* advantages
.advantages
  cursor: default

.advantages__holder
  position: relative
  padding: 10.7rem 1rem 16.2rem 70.8rem

//.advantages__sign
  display: block
  position: absolute
  width: 16.1rem
  height: 16.1rem
  left: 71.2rem
  top: 1rem
  background-repeat: no-repeat
  background-image: url(../../img/advantage-sign.png)
  background-size: 100%
  opacity: 0
  // transition
  $prop: opacity
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  @media #{$retina}
    background-image: url(../../img/advantage-sign-2x.png)

//.advantages__spacer-top
  height: 20rem
  max-height: 0
  transition: max-height $animation-speed

//.advantages__spacer-bottom
  height: 20rem
  max-height: 2rem
  transition: max-height $animation-speed

.advantages__figure
  position: absolute
  left: -0.1rem
  top: 0
  //background-image: url(../../img/advantage-figure.png)
  //background-position: 0 0
  //background-repeat: no-repeat
  //background-size: 100%
  //height: 562px
  width: 565px

  img
    display: block
    max-width: 100%

.advantages__title
  +font-extra-bold
  font-size: 3.0rem
  line-height: 3.2rem
  margin-bottom: 4.3rem

  &:last-child
    margin-bottom: 0

.advantages__entry
  font-size: 2.4rem
  line-height: 2.9rem
  color: $text-color-alt
  margin-bottom: 1.7rem

  &:last-child
    margin-bottom: 0

.advantages__text
  font-size: 2.4rem
  line-height: 2.9rem
  color: #000
  margin-bottom: 1.7rem

  &:last-child
    margin-bottom: 0

.advantages__footer
  position: relative
  text-align: right
  padding-top: 3.6rem
  margin-right: -0.9rem
  //height: 0
  //opacity: 0
  // transition
  //$prop: opacity
  //will-change: $prop
  //transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

// hover
//.advantages:hover
  .advantages__sign
    opacity: 1

  .advantages__spacer-top
    max-height: 12.1rem

  .advantages__spacer-bottom
    max-height: 0

  .advantages__footer
    opacity: 1

/* advantages end

/* manual
.manual
  padding-top: 10.2rem
  padding-bottom: 8.8rem
  background: url(../../img/bg-manual.jpg) no-repeat center top fixed
  background-size: cover

.manual__holder
  position: relative
  padding: 1rem 0 3.4rem
  +clear

.manual__title
  float: left
  clear: left
  width: 50%
  +font-extra-bold
  font-size: 5.5rem
  line-height: 1
  color: white
  margin-bottom: 5rem

  &:last-child
    margin-bottom: 0

// --> manual steps <==
.manual__steps
  float: left
  clear: left
  width: 50%
  margin-bottom: 6rem

  &:last-child
    margin-bottom: 0
    
.manual__step
  $root-elem: &
  display: block
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

  @at-root
    .manual__step-caption
      display: flex
      flex-direction: column
      align-items: stretch
      justify-content: center
      position: relative
      min-height: 17rem
      padding: 1.7rem 4rem 2rem 16.2rem
      text-decoration: none
      color: inherit
      cursor: pointer
      background-color: rgba(white, 0.15)
      border: 1px solid transparent
      border-radius: 1rem
      -webkit-tap-highlight-color: transparent
      $prop: background-color, border-color
      transition:
        property: $prop
        duration: $animation-speed
        timing-function: ease-in-out

      &:last-child
        margin-bottom: 0

      // hover
      &:hover
        border-color: #fff

      // current
      #{$root-elem}.current &
        cursor: default
        border-color: #fff
        background-color: #fff

    .manual__step-title
      min-width: 100%
      +font-bold
      font-size: 2.4rem
      line-height: 3.0rem
      margin-bottom: 2.1rem
      color: white
      transition: color $animation-speed

      &:last-child
        margin-bottom: 0

      // current
      #{$root-elem}.current &
        color: $title-color

    .manual__step-number
      $size: 8.3rem
      display: block
      position: absolute
      left: 4.6rem
      top: 50%
      width: $size
      height: $size
      margin-top: -#{round-float($size / 2, 1)}
      +font-bold
      font-size: 3.6rem
      line-height: $size
      text-align: center
      color: white
      background-color: $highlight-color
      border-radius: 50%

    .manual__step-text
      min-width: 100%
      font-size: 1.8rem
      line-height: 2.2rem
      margin-bottom: 2rem
      color: white
      transition: color $animation-speed

      &:last-child
        margin-bottom: 0

      // current
      #{$root-elem}.current &
        color: $text-color-alt

    .manual__step-figure
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      right: 0.2rem
      top: 0
      bottom: 0
      width: 43.8rem
      max-width: 50%
      opacity: 0
      pointer-events: none
      // transition
      $prop: opacity
      will-change: $prop
      transition:
        property: $prop
        duration: $animation-speed

      // current
      #{$root-elem}.current &
        opacity: 1
        pointer-events: auto

      img
        max-width: 100%
        max-height: 100%

/* manual end

/* bond
$bond-space: 3.1rem 2.9rem 2.3rem
.bond
  display: block
  position: relative
  padding: $bond-space
  text-decoration: none
  color: inherit
  cursor: pointer
  background-color: white
  border-radius: 0.8rem
  //box-shadow: 0 1rem 4.6rem rgba(#7c90d4, 0.25)
  box-shadow: 0 1rem 4.6rem rgba($box-shadow-color, 0.25)
  transition: box-shadow $animation-speed

.bond__figure
  display: flex
  align-items: center
  justify-content: flex-start
  width: 15rem
  height: 3.5rem
  margin: 0.3rem 0 1.9rem

  img
    display: block
    max-width: 100%
    max-height: 100%

.bond__title
  $font-size: 1.8rem
  $line-height: 2.4rem
  $line-length: 2
  display: block
  position: relative
  +font-normal
  font-size: $font-size
  line-height: $line-height
  font-weight: normal
  color: #0d0d0d
  height: $line-height * $line-length
  overflow: hidden
  margin-bottom: 1.2rem

  &::after
    content: ""
    display: block
    position: absolute
    bottom: 0
    right: 0
    width: 20%
    min-width: 6rem
    height: $line-height
    +linear-gradient(to right, rgba(white, 0) 0%, white 100%)

.bond__release
  overflow: hidden
  position: relative
  margin: 0 12rem 0.1rem 0
  font-size: 1.8rem
  line-height: 2.4rem
  color: #0d0d0d
  text-overflow: ellipsis

.bond__term
  overflow: hidden
  position: relative
  margin-right: 12rem
  font-size: 2.4rem
  line-height: 2.8rem
  color: #0d0d0d
  text-overflow: ellipsis

.bond__value
  position: absolute
  bottom: nth($bond-space, 3)
  right: nth($bond-space, 2)
  +font-bold
  font-size: 2.4rem
  line-height: 2.8rem
  color: #0d0d0d

.bond__rate
  position: absolute
  top: nth($bond-space, 1)
  right: nth($bond-space, 2)
  $size: 4.1rem 8.5rem
  height: nth($size, 1)
  min-width: nth($size, 2)
  padding: 0 1.5rem
  +font-bold
  font-size: 2.4rem
  line-height: nth($size, 1)
  text-align: center
  color: white
  background-color: $highlight-color
  border-radius: round-float(nth($size, 1) / 2, 1)
  transition: background-color $animation-speed

  // hover
  .bond:not(.swiper-slide-thumb-active):hover & // todo переделать
    background-color: $highlight-color--hover

/* bond end

/* selection
.selection
  //padding-top: 14.2rem
  //padding-bottom: 16rem
  padding-top: 7rem
  padding-bottom: 7.1rem

.selection__title
  +font-extra-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  margin-bottom: 7.1rem

.selection__bonds
  padding: 0 2.2rem 4.9rem
  margin: 0 -2.2rem 5.9rem

  &:last-child
    margin-bottom: 0

  .js &:not(.is-loaded)
    opacity: 0
    pointer-events: none
    overflow: hidden

  .bond:not(.swiper-slide-visible)
    box-shadow: none

.selection__bonds-pagination
  &, .swiper-container-horizontal > &
    bottom: 0

.selection__footer
  text-align: right

/* selection end

/* benefit
.benefit
  display: flex
  align-items: center

.benefit__icon
  $size: 13rem
  margin: 0 3.5rem
  flex-basis: $size
  min-width: $size
  width: $size
  height: $size

  img
    display: block
    max-height: 100%
    max-width: 100%

.benefit__content
  flex-grow: 1

.benefit__title
  +font-extra-bold
  font-size: 3.0rem
  line-height: 3.6rem
  color: #000
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.benefit__text
  font-size: 1.8rem
  line-height: 2.2rem
  color: $text-color-alt
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

/* benefit end

/* benefits
.benefits
  padding-top: 7.1rem
  padding-bottom: 7.1rem

.benefits__holder
  position: relative

.benefits__title
  +font-extra-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  margin-bottom: 6.3rem

.benefits__list
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  margin-bottom: 5rem
  padding: 0 0 0.3rem

  &:last-child
    margin-bottom: 0

.benefits__list-item
  flex-grow: 1
  flex-basis: 50%
  max-width: 50%
  padding: 0 19.9rem
  margin: 10.6rem auto

  &:nth-child(2n)
    padding-right: 0

  &:nth-child(2n - 1)
    padding-left: 0
    flex-direction: row-reverse
    text-align: right

.benefits__figure
  position: absolute
  left: 50%
  top: 1rem
  bottom: 0
  transform: translate(-50%, 0)

  img
    max-width: 100%
    max-height: 100%

.benefits__figure_has-shadow
  //top: -5.1rem
  //bottom: -8.0rem
  top: -4.1rem
  bottom: -8.0rem

/* benefits end

/* opinion-quote
.opinion-quote
  padding: 4.8rem 5.9rem
  background-color: white
  border-radius: 10px
  box-shadow: 0 1rem 4.6rem rgba(#7c90d4, 0.25)

.opinion-quote__title
  display: block
  +font-extra-bold
  font-size: 3.0rem
  line-height: 3.6rem
  min-height: 8rem
  color: #000
  margin-bottom: 1.8rem

$or__content-line-height: 2.9rem
$or__content-line-length: 6
.opinion-quote__content
  position: relative
  overflow: hidden
  color: $text-color-alt
  font-size: 2.4rem
  line-height: $or__content-line-height
  min-height: $or__content-line-height * $or__content-line-length

  p
    margin-bottom: 2.3rem

    &:last-child
      margin-bottom: 0

/* opinion-quote end

/* opinion-review
$op-color: #622ee9
.opinion-review
  position: relative
  padding: 3.9rem 6rem 4.5rem 12rem
  background-color: $op-color
  border-radius: 10px

.opinion-review__corner
  display: block
  position: absolute
  left: 88px
  top: 100%
  margin-top: -6px
  background: url(../../img/review-corner.png) no-repeat
  background-size: contain
  width: 90px
  height: 35px

  @media #{$retina}
    background-image: url(../../img/review-corner-2x.png)

.opinion-review__author
  display: flex
  align-items: center
  margin-bottom: 2.4rem
  color: white
  +clear

$or__author-photo-size: 8rem
$or__author-photo-space: 1.9rem
.opinion-review__author-photo
  overflow: hidden
  flex-basis: $or__author-photo-size
  min-width: $or__author-photo-size
  height: $or__author-photo-size
  margin-right: $or__author-photo-space
  border-radius: 50%

  img
    display: block
    width: 100%
    height: 100%

.opinion-review__author-info
  flex-grow: 1
  font-size: 1.8rem
  line-height: 2.2rem

.opinion-review__author-person
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0

.opinion-review__author-name
  +font-bold
  display: inline-block
  margin-right: 0.3rem

.opinion-review__soc
  display: inline-block
  line-height: 2rem
  cursor: default

.opinion-review__soc-item
  display: inline-block
  vertical-align: top
  width: 2rem
  height: 2rem
  margin: 0 0.2rem 0 0
  font-size: 2rem
  border-radius: 50%
  background-size: 100%
  background-repeat: no-repeat
  background-position: 0 0

  &::before
    content: ''
    vertical-align: top
    display: inline-block
    width: 1em
    height: 1em
    background-image: url("../../img/soc-small-sprite.svg")
    background-repeat: no-repeat
    background-size: 15em 15em

  &.behance:before
    background-position: 0 0
  
  &.facebook:before
    background-position: -1em -1em
  
  &.gmail:before
    background-position: -2em -2em
  
  &.google-plus:before
    background-position: -3em -3em
  
  &.instagram:before
    background-position: -4em -4em
  
  &.linkedin:before
    background-position: -5em -5em
  
  &.pinterest:before
    background-position: -6em -6em
  
  &.rss:before
    background-position: -7em -7em
  
  &.skype:before
    background-position: -8em -8em
  
  &.tumblr:before
    background-position: -9em -9em
  
  &.twitter:before
    background-position: -10em -10em
  
  &.vimeo:before
    background-position: -11em -11em
  
  &.vk:before
    background-position: -12em -12em
  
  &.whatsapp:before
    background-position: -13em -13em
  
  &.youtube:before
    background-position: -14em -14em

  & > span
    +hide-text

  &:hover
    box-shadow: 0 0 0 2px rgba(white, 0.25)

.opinion-review__author-about
  position: relative
  margin-bottom: 1rem
  overflow: hidden
  white-space: nowrap

  &:last-child
    margin-bottom: 0

  &::after
    content: ""
    display: block
    position: absolute
    bottom: 0
    right: 0
    width: 20%
    min-width: 5rem
    height: 2.2rem
    +linear-gradient(to right, rgba($op-color, 0) 0%, $op-color 100%)

$or__content-line-height: 2.9rem
$or__content-line-length: 6
.opinion-review__content
  position: relative
  overflow: hidden
  color: white
  font-size: 2.4rem
  line-height: $or__content-line-height
  min-height: $or__content-line-height * $or__content-line-length

  //&::after
    content: ""
    display: block
    position: absolute
    bottom: 0
    right: 0
    width: 20%
    min-width: 6rem
    height: $or__content-line-height
    +linear-gradient(to right, rgba($op-color, 0) 0%, $op-color 100%)

  p
    margin-bottom: 2.3rem

    &:last-child
      margin-bottom: 0

/* opinion-review end

/* opinion
.opinion
  display: flex

.opinion__quote
  $width: 50%
  flex-grow: 1
  flex-basis: $width
  min-width: $width
  position: relative
  margin-top: 3.9rem
  z-index: 1
  transform-origin: right bottom

.opinion__review
  $width: calc(50% + 6rem)
  flex-grow: 1
  flex-basis: $width
  min-width: $width
  margin-left: -6rem
  margin-bottom: 5.5rem
  transform-origin: left bottom

/* opinion end

/* opinions
.opinions
  padding-top: 7rem
  padding-bottom: 7rem
  background-image: url(../../img/bg-opinions.jpg)
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover

.opinions__title
  +font-extra-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  margin-bottom: 7rem

.opinions__list
  padding: 0 3rem 4.9rem
  margin: 0 -3rem 6rem

  &:last-child
    margin-bottom: 0

  .js &:not(.is-loaded)
    opacity: 0
    pointer-events: none

.opinions__list-pagination
  &, .swiper-container-horizontal > &
    bottom: 0

/* opinions end

/* app offer
.app-offer
  position: relative
  color: white
  background-color:
  background: $base-color url(../../img/bg-app-offer.jpg) no-repeat center top fixed
  background-size: cover

.app-offer__holder
  position: relative
  padding-top: 10.3rem
  padding-bottom: 10.3rem
  min-height: 70.1rem // !Warning

.app-offer__title
  width: 50%
  +font-bold
  font-size: 5.5rem
  line-height: 1
  color: white
  margin-bottom: 3.9rem

  &:last-child
    margin-bottom: 0

.app-offer__entry
  width: 50%
  font-size: 2.4rem
  line-height: 2.9rem
  color: white
  margin-bottom: 5.3rem

  &:last-child
    margin-bottom: 0

$app-offer-app-space: 3.6rem
.app-offer__app
  width: 50%
  display: flex
  flex-wrap: wrap
  margin: 0 -#{round-float($app-offer-app-space / 2, 1)}

.app-offer__app-item
  margin: 0 #{round-float($app-offer-app-space / 2, 1)}

.app-offer__figure
  display: flex
  align-items: center
  justify-content: flex-end
  position: absolute
  top: 0
  right: 0
  bottom: 0

  img
    max-height: 100%

/* app offer end

/* last news element
.last-news-elem
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding: 2.7rem 3rem
  text-decoration: none
  color: white
  background-color: $base-color
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    +linear-gradient(to top, rgba(black, 0.7) 0, rgba(black, 0) 100%)

.last-news-elem__title
  position: relative
  width: 100%
  border-bottom: 3px solid rgba(white, 0.5)
  padding-bottom: 1.8rem
  margin-bottom: 1.7rem
  font-size: 2.4rem
  line-height: 2.9rem
  color: inherit
  transition: color $animation-speed

.last-news-elem__text
  position: relative
  width: 100%
  font-size: 1.8rem
  line-height: 2.2rem

/* last news element end

/* last-news
.last-news
  background-color: $bg-color

.last-news__holder
  padding-top: 14.1rem
  padding-bottom: 16.1rem

.last-news__title
  +font-extra-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  margin-bottom: 7.2rem

$last-news-item-space: 0 3rem
.last-news__list
  display: flex
  flex-wrap: wrap
  margin: 0 -#{round-float(nth($last-news-item-space, 2) / 2, 1)} 6rem

  &:last-child
    margin-bottom: 0

.last-news__list-item
  $width: calc(33.33% - #{nth($last-news-item-space, 2)})
  margin: 0 #{round-float(nth($last-news-item-space, 2) / 2, 1)}
  flex-basis: $width
  min-height: 44.5rem
  
// hover
.last-news-elem:hover
  .last-news-elem__title
    color: $highlight-color--hover

.last-news__footer
  position: relative
  text-align: right

/* last-news end

/* profit
.profit
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 21.1rem
  padding: 2rem 4.6rem 2rem 20.8rem
  background-color: #5b29cd
  border-radius: 1rem
  box-shadow: inset 0 1rem 4.6rem  rgba($box-shadow-color, 0.25)

.profit__icon
  $size: 13.1rem
  width: $size
  height: $size
  position: absolute
  top: 50%
  left: 4.6rem
  margin-top: -#{round-float($size / 2, 1)}
  background-image: url(../../img/profit-sign.png)
  background-repeat: no-repeat
  background-position:  center
  background-size: contain

  @media #{$retina}
    background-image: url(../../img/advantage-sign-2x.png)

.profit__title
  +font-black
  font-size: 3.0rem
  line-height: 1
  color: white
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.profit__text
  font-size: 1.8rem
  line-height: 2.5rem
  color: white
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

/* profit end

/* profits
.profits
  padding-bottom: 7rem

.profits__holder
  position: relative

.profits__list
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: flex-start
  margin: 0 -1.5rem -3rem

.profits__list-item
  $width: calc(50% - 3rem)
  flex-grow: 1
  flex-basis: $width
  margin: 0 1.5rem 3rem
  background-repeat: no-repeat

  &:nth-child(1)
    background-image: url(../../img/bg-profit-01-desk.png)

  &:nth-child(2)
    background-image: url(../../img/bg-profit-02-desk.png)

  &:nth-child(3)
    background-image: url(../../img/bg-profit-03-desk.png)

  &:nth-child(4)
    background-image: url(../../img/bg-profit-04-desk.png)

/* profits end

/* custom range slider
.irs--custom
  height: 116px

.irs--custom.irs-with-grid
  height: 131px

.irs--custom .irs-line
  top: 89px
  height: 15px
  background-color: #eaefff
  border-radius: 15px

.irs--custom .irs-bar
  top: 89px
  height: 15px
  background-color: $highlight-color

.irs--custom .irs-bar--single
  border-radius: 12px 0 0 12px

.irs--custom .irs-shadow
  height: 1px
  bottom: 16px
  background-color: rgba(66, 139, 202, 0.5)

.irs--custom .irs-handle
  top: 71px
  width: 19px
  height: 45px
  background-color: #fff
  box-shadow: 0 2px 9px rgba(black, 0.24)
  border-radius: 4px

.irs--custom .irs-handle.state_hover,
.irs--custom .irs-handle:hover
  background-color: #fff

.irs--custom .irs-min,
.irs--custom .irs-max
  top: 0
  padding: 1px 5px
  color: white
  text-shadow: none
  background-color: #9f9f9f
  border-radius: 3px

.irs--custom .irs-from,
.irs--custom .irs-to,
.irs--custom .irs-single
  color: white
  text-shadow: none
  min-width: 131px
  padding: 10px
  font-size: 18px
  line-height: 26px
  text-align: center
  border-radius: 46px
  +linear-gradient(to right, rgba(#4917af, 1) 0%, rgba(#6a35fa, 1) 100%)

  &::after
    content: ""
    display: block
    position: absolute
    top: 100%
    left: 50%
    margin: 0 -7px
    +triangle(bottom, #5a2dcd, 7px, 1.57)

.irs--custom .irs-grid-pol
  background-color: $text-color

.irs--custom .irs-grid-text
  color: $text-color

/* custom range slider end

/* bond calc
$bond-calc-space: 6rem 6rem 7.1rem
.bond-calc
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  overflow: hidden
  padding: $bond-calc-space
  background-color: white
  border-radius: 0.8rem

.bond-calc__caption
  display: flex
  align-items: flex-start
  justify-content: flex-start

.bond-range
  margin-bottom: 4px

.bond-calc__deposit-rate,
.bond-calc__face-val,
.bond-calc__deposit-term
  margin: 0 7.8rem 1rem 0

  & > span
    display: block
    font-size: 1.8rem
    line-height: 2.4rem

  & > strong
    display: block
    font-size: 3.0rem
    line-height: 3.0rem

.bond-calc__invest,
.bond-calc__count,
.bond-calc__total,
.bond-calc__revenue
  overflow: hidden
  position: relative
  margin-right: 24rem
  font-size: 2.4rem
  line-height: 3.4rem
  color: #000
  text-overflow: ellipsis

  & > strong
    +font-bold
    font-size: 3.0rem

  & > b
    +font-semi-bold


.bond-calc__invest
  margin-bottom: 1.1rem

.bond-calc__total
  margin-bottom: 4.9rem

.bond-calc__link
  text-align: right
  position: absolute
  bottom: nth($bond-calc-space, 1)
  right: nth($bond-calc-space, 2)
  z-index: 5

/* bond calc end

/* company info
.company-info
  padding: 8.4rem #{nth($bond-calc-space, 2)} 4rem
  font-size: 1.8rem
  line-height: 2.2rem
  color: $text-color-alt

  p
    margin-bottom: 2.2rem

    &:last-child
      margin-bottom: 0

.company-info__figure
  margin-bottom: 5rem

  &:last-child
    margin-bottom: 0

.company-info__title
  +font-bold
  font-size: 2.2rem
  line-height: 3.0rem
  color: $title-color
  text-transform: uppercase
  margin-bottom: 1.9rem

  &:last-child
    margin-bottom: 0

/* company info end

/* yield
.yield
  padding-top: 7rem
  padding-bottom: 7rem

.yield__holder
  position: relative

.yield__title
  +font-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  margin-bottom: 3rem

  &:last-child
    margin-bottom: 0

$yield-box-height: 71.4rem
$yield-box-spaces: 3.9rem 0
.yield-box
  display: flex
  height: $yield-box-height

  .js &:not(.is-loaded)
    opacity: 0
    pointer-events: none
    overflow: hidden

.yield-box__aside
  $width: 45.2rem
  flex-basis: $width
  flex-shrink: 0
  height: 100%
  margin-right: 6.1rem

$yield-thumbs-elem-height: 22.3rem
.yield-thumbs
  $padding-bottom: 3.9rem
  $padding-top: 3.9rem
  position: relative
  height: 100%
  padding: 0 3rem
  margin: 0 -3rem

  &::before, &::after
    content: ""
    display: block
    position: absolute
    width: 100%
    height: $yield-thumbs-elem-height
    pointer-events: none
    left: 0
    z-index: 5

  &::before
    top: 0
    +linear-gradient(to bottom, $bg-color 0%, rgba($bg-color, 0) 100%)

  &::after
    bottom: 0
    +linear-gradient(to top, $bg-color 0%, rgba($bg-color, 0) 100%)

.yield-thumbs__item
  opacity: 0.6
  height: $yield-thumbs-elem-height
  // transition
  $prop: opacity, background-color
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  &.swiper-slide-active
    opacity: 1

  &.swiper-slide-thumb-active
    background-color: $highlight-color
    opacity: 1
    cursor: default

    .bond__rate
      background-color: white
      color: $highlight-color

    .bond__title
      &::after
        display: none

.yield-box__main
  flex-grow: 1
  $width: calc(100% - 45.2rem - 6.1rem)
  flex-basis: $width
  max-width: $width
  height: 100%
  padding: nth($yield-box-spaces, 1) 0

.yield-cards
  height: 100%
  position: relative
  //$padding-bottom: 2.2rem
  //$padding-top: 1rem
  //padding: #{$padding-top} 1.1rem #{$padding-bottom}
  //margin: -#{$padding-top} -1.1rem -#{$padding-bottom}

  .swiper-pagination
    display: none

.yield-cards__item
  height: 100%

/* yield end

// news variables
$news-elem-space-outer: 3rem 6.6rem
$news-elem-space-inner: 1.8rem 3rem
$news-elem-img-space-h: 3.6rem
$news-elem-img-space-v: 3rem

/* news preview element
.news-elem
  background-color: white
  +clear

.news-elem__figure
  width: 33.3rem
  background-repeat: no-repeat
  background-position: center
  background-color: $border-color
  background-size: cover

  &::before
    content: ""
    display: block
    +ratio(1, 1)
    
.news-elem__content
  overflow: hidden

.news-elem__title
  position: relative
  +font-bold
  font-size: 2.4rem
  line-height: 2.9rem
  color: $title-color
  margin-bottom: 1.5rem
  padding-bottom: 1.5rem

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 24rem
    max-width: 80%
    border-top: 3px solid $border-color

.news-elem__title
  font-size: 1.8rem
  line-height: 2.1rem
  color: $text-color-alt

// type vertical
.type-v
  .news-elem
    padding: 0
    box-shadow: none

  .news-elem__figure
    margin-bottom: $news-elem-img-space-v
    width: 100%

    &:last-child
      margin-bottom: 0

// type left
.type-l
  .news-elem
    box-shadow: inset 0 0 0 1px $border-color

  .news-elem__figure
    float: left

  .news-elem__content
    padding: #{nth($news-elem-space-inner, 1)} nth($news-elem-space-inner, 2) nth($news-elem-space-inner, 1) $news-elem-img-space-h

// type right
.type-r
  .news-elem
    box-shadow: inset 0 0 0 1px $border-color

  .news-elem__figure
    float: right

  .news-elem__content
    padding: nth($news-elem-space-inner, 1) $news-elem-img-space-h nth($news-elem-space-inner, 1) nth($news-elem-space-inner, 2)

/* news preview element end

/* news
.news
  margin-bottom: 6rem

// news list
.news__list
  margin: 0 -#{round-float(nth($news-elem-space-outer, 2) / 2, 1)} 3rem
  +clear

.news__list-item
  padding: 0 #{round-float(nth($news-elem-space-outer, 2) / 2, 1)} nth($news-elem-space-outer, 1)

  // align left
  &.align-l
    float: left
    clear: left

  // align right
  &.align-r
    float: right
    clear: right

  &.type-v
    width: 32.6%

  &.type-l, &.type-r
    width: 67.4%

// news footer
.news__footer
  text-align: right

/* news end

/* companies
.section_companies
  position: relative

$companies-filters-item-space: 3.6rem 3.6rem
.companies-filters
  background-color: white
  padding-bottom: 8.2rem

.companies-filters__row
  display: flex
  flex-wrap: wrap
  margin: 0 -#{round-float(nth($companies-filters-item-space, 2) / 2, 1)} -#{round-float(nth($companies-filters-item-space, 1) / 2, 1)}

.companies-filters__item
  flex-grow: 1
  max-width: 31rem
  margin: 0 #{round-float(nth($companies-filters-item-space, 2) / 2, 1)} #{round-float(nth($companies-filters-item-space, 1) / 2, 1)}

.companies
  padding-top: 8.2rem
  padding-bottom: 15.6rem
  background-color: $bg-color

// companies list
$companies-elem-space-outer: 2.2rem 2.2rem
.companies__list
  display: flex
  flex-wrap: wrap
  margin: 0 -#{round-float(nth($companies-elem-space-outer, 2) / 2, 1)} -#{nth($companies-elem-space-outer, 1)}
  +clear

.companies__list-item
  flex-basis: 33.33%
  padding: 0 #{round-float(nth($companies-elem-space-outer, 2) / 2, 1)} nth($companies-elem-space-outer, 1)

// companies footer
.companies__footer
  text-align: right

/* companies end

/* company
.company
  padding-bottom: 16.1rem

$company-box-aside-width: 44.7rem
.company-box
  position: relative
  display: flex
  background-color: white
  box-shadow: 0 1rem 4.6rem rgba($box-shadow-color, 0.25)
  border-radius: 8px

  &::after
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: $company-box-aside-width
    border-right: 1px solid #cfd2df
    pointer-events: none

.company-box__aside
  flex-basis: $company-box-aside-width
  flex-shrink: 0
  padding-right: 6.1rem

.company-box__main
  flex-grow: 1
  $width: calc(100% - #{$company-box-aside-width})
  flex-basis: $width
  max-width: $width
  min-height: 64.4rem

/* company end

/* download
.section_download
  padding-top: 7rem
  padding-bottom: 7rem

$download-layout: 67rem
.download-layout
  max-width: $download-layout
  margin: 0 auto

.download__title
  +font-bold
  font-size: 5.5rem
  line-height: 1
  color: #000
  text-align: center
  margin-bottom: 3rem

  &:last-child
    margin-bottom: 0

.download__text
  font-size: 1.8rem
  line-height: 2.2rem
  margin-bottom: 4.5rem
  text-align: center

  &:last-child
    margin-bottom: 0

  p
    margin-bottom: 2.2rem

    &:last-child
      margin-bottom: 0

.download__text-entry
  color: $text-color-alt

.download__text-highlight
  color: $highlight-color

$download-app-spaces: 4rem
.download__app
  display: flex
  justify-content: center
  align-items: flex-start
  margin: 0 -#{round-float($download-app-spaces / 2, 1)} 4rem
  text-align: center

  &:last-child
    margin-bottom: 0

.download__app-item
  margin: 0 #{round-float($download-app-spaces / 2, 1)} 2rem

.download__note
  font-size: 1.9rem
  line-height: 2.4rem
  color: rgba(#1e202b, 0.8)

/* download end